.App {
  height: 100vh;
  display: flex;
  align-items: center;
}

.container {
  background-color: #ED645C;
  color: white;
  margin: auto;
  width: 300px;
  padding:30px 0;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.shopping-list {
  /* background-color: rgb(245, 22, 22); */
  width: 100%;
  margin: auto;
}

.input-area {
  /* background-color: rgb(27, 233, 37); */
  padding: 10px;
}

.input-area input {
  width: 75%;
  padding: 5px;
  margin-right: 5px;
}

.input-area button {
  padding: 5px;
}

.shopping-items {
  /* background-color: blue; */
  padding: 10px;
  margin: 0;
}

.shopping-items ul {
  padding: 8px;
  margin: 0;
  list-style: none;
}

.shopping-items p {
  padding: 8px;
  margin: 0;
  text-align: right;
}

.item-row {
  margin: 5px 0;
}